.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    position: fixed;
    width: 100%;
    backdrop-filter: blur(5px);
    z-index: 99999;
}
.navbar__logo img{
    height: 30px;
}
.navbar__links ul{
    display: flex;
    gap: 15px;
}
.navbar__links ul li{
    transition: .3s linear;
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -ms-transition: .3s linear;
    -o-transition: .3s linear;
    cursor: pointer;
}
.navbar__links ul li:hover{
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: var(--primary-color);
    color: white;
}
.navbar__links ul li:hover svg,
.navbar__links ul li:hover span{
    color: white;
}
.navbar__links ul li a {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--primary-color);
    padding: 5px 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.navbar__links ul li a.active {
    background-color: var(--primary-color);
    color: white;
}

.navbar__btns{
    display: flex;
    gap: 10px;
    align-items: center;
}
.navbar__btns a{
    background-color: var(--primary-color);
    outline: none;
    border: 1px solid var(--primary-color);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: .3s linear;
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -ms-transition: .3s linear;
    -o-transition: .3s linear;
    cursor: pointer;
    font-size: 14px;
}
.navbar__btns a:last-child{
    background-color: transparent;
    color: var(--primary-color);
}
.navbar__btns a:hover{
    background-color:white ;
    color: var(--primary-color);
}
.navbar__btns a:last-child:hover{
    background-color: var(--primary-color);
    color: white;
}
.navbar__btns button{
    background-color: var(--primary-color);
    outline: none;
    border: 1px solid var(--primary-color);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: .3s linear;
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -ms-transition: .3s linear;
    -o-transition: .3s linear;
    cursor: pointer;
    font-size: 14px;
}
.navbar__btns button:hover{
    background-color:white ;
    color: var(--primary-color);
}
.navbar__btns .toggle{
    display: flex;
    align-items: center;
    color: var(--primary-color);
    display: none;
}

@media screen and (max-width: 768px){
    .navbar__links{
        padding:20px 0;
        position: fixed;
        background-color: white;
        left: -100%;
        top: 100%;
        width: 100%;
        transition: .3s linear;
        -webkit-transition: .3s linear;
        -moz-transition: .3s linear;
        -ms-transition: .3s linear;
        -o-transition: .3s linear;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .navbar__links.show{
        left: 0%;
    }
    .navbar__links ul{
        flex-direction: column;
    }
    .navbar__btns .toggle{
        display: unset;
    }
    
}