@import '@sweetalert2/themes/default/default.css';
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
:root {
  font-family: "Rubik", sans-serif;
  --primary-color: #105161;
  --secondary-color: #EEBDAE;
  background-color: #F5F5F5;
}
.hobby__page{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}